/* Add the following styles to your CSS file or style block in your component */

.food-detail-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
.image-container{
    width: 100%;
    height: max-content;
    object-fit: none;
  }

  
  .food-detail-text {
    font-size: 1.2rem;
    line-height: 1.5;
    padding: 3px;
    text-align:left;
    
  }
    